$styles: header;
.#{$styles} {
    background: url(../img/header/header_background_img.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
    padding-top: 50px;
    padding-bottom:68px;
    min-height: 100vh;
    &__nav {
        display: flex;
    }
    &__nav__items {
        text-transform: uppercase;
        font-family: $Raleway;
        color: $font_color_dark;
        font-weight: $font_wight_bold;
        margin-right: 30px;
        text-decoration: none;
        transition: all 0.5s;
        border-top: 2px solid transparent;
    }
    &__nav:last-child {
        margin-right: 0px;
    }
    &__nav__items:hover {
        border-top: 2px solid $color_top_line;
    }
    &__title-wrapper {
        min-height: 80vh; 
    }
    &__title  {
        @include Raleway_Heavy_60;
        color: $font_color_dark;
        margin-bottom: 34px;
    }
    &__text {
        @include Raleway_Light_17;
        color: $font_color_dark; 
        margin-bottom: 30px;
    }
    &__button {
        display: block;
        background-color: $color_button_header;
        @include Button_style;
       
    }
    &__button__link:hover {
        @include Button_hover;
    }
    &__button__link {
        display: inline-block;
    @include Button_link_style;
    padding: 18px 24px 18px 24px;
    transition: all 0.5s;
    border-width: 3px;
    border-style: solid;
    border-color: transparent;
    border-image: none;
    border-radius: 1px; 
    background-color: $color_button_header;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    }
    &__scroll {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__scroll:hover {
        transform: scale(1.2);   
    }
    @media (max-width: 769px) {
        &__logo {margin-bottom: 26px;}
      }
      @media (max-width: 576px) {
        &__nav { flex-direction: column;}
      }
      
}
